.aboutDetails {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.aboutCard {
  width: calc(50% - 20px);
  border-radius: 20px;
  box-sizing: border-box;
  margin: 0;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: var(--box-color);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.projectDescription a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: var(--font-weight-semiBold);
}

/* Responsive Styles */

@media (max-width: 768px) {
  .projectHeadline .headline {
    font-size: var(--font-size-large);
  }

  .projectHeadline .bodyLarge {
    font-size: var(--font-size-small);
  }

  .aboutCard,
  .optionInfoBox {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .aboutDetails {
    gap: 24px;
    padding: 12px;
  }

  .projectHeadline .headline {
    font-size: var(--font-size-medium);
  }

  .projectHeadline .bodyLarge {
    font-size: var(--font-size-small);
  }
}
