/* card css */

.allProjectsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.allProjectsCard {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 32px;
  margin: 0;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: var(--box-color);
  width: calc(33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  text-align: center;
  color: black;
}

.creatorInfoBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.allProjectsCard:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.allProjectsCard img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  align-self: flex-start;
}

/* .allProjectsCard h2 {
  font-size: var(--font-size-ml);
  font-weight: var(--font-weight-bold);
  margin: 10px;
} */

.allProjectsCard p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  margin: 0;
}

.creatorBoxAllProjects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 16px;
}

.boldName {
  font-weight: var(--font-weight-bold);
}

/* Responsive styles */
@media (max-width: 1200px) {
  .allProjectsContainer {
    flex-wrap: wrap;
  }

  .allCreatorCard {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .filterContainer {
    align-items: center;
    justify-content: center;
  }

  .allProjectsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: right;
  }

  .allProjectsCard {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }

  .filterContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .labelCategory {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .allProjectsCard {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
  }
}
