.containerCreatePage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    min-height: 100px;
  }
  
  .optionGroup {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .addButton {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .removeButton {
    padding: 10px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .errorMessage {
    color: red;
    margin-top: 10px;
  }
  
  .checkbox {
    margin-right: 5px;
  }