.creatorCard {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.profilImageCard {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.projectCreatorHeader {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.creatorHeader {
  display: flex;
  gap: 4px;
  margin: 0;
  padding: 0;
}

.spanElementCreator {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-ml);
  font-weight: var(--font-weight-normal);
}

.creatorName {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-ml);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.projectEndInfo {
  display: flex;
  gap: 4px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semiBold);
  margin: 0;
  padding: 0;
}

.spanElementProjectEnd {
  font-weight: var(--font-weight-normal);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .containerCreatePage {
    width: 100vw !important;
  }

  .button {
    font-size: var(--font-size-medium);
  }

  .profilEditButtonsSmall {
    flex-direction: column;
    width: 100%;
    align-items: none;
  }

  .numberInputWrapper {
    flex-direction: column;
  }

  .optionInputBox {
    flex-direction: column;
  }

  .buttonContainer {
    width: 100%;
  }

  .button {
    width: 100%;
  }

  .editAvatar {
    flex-direction: column;
    width: 100%;
  }

  .optionImageContainer {
    width: 100%;
  }

  .optionImageBox {
    width: 100%;
  }

  .editProfilWrapper {
    width: 100vw;
  }
}

@media (max-width: 480px) {
  .button {
    font-size: var(--font-size-small);
  }

  .profilEditButtonsSmall {
    flex-direction: column;
    gap: 12px;
  }

  .optionBox {
    flex-direction: column;
    width: 100%;
  }
}
