.containerCreatePage {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.numberInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.numberInputWrapper input {
  flex-grow: 1;
  padding-right: 40px;
}

.selectIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.optionInputBoxWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.optionBoxWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.optionBox {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #edf1f5;
  border-radius: 20px;
}

.optionInputBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.optionInput {
  background-color: #edf1f5;
}

.optionImageBox {
  display: flex;
  gap: 8px;
}

.contentAligner {
  align-self: flex-end;
}

.optionImageContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionImageCard {
  width: 124px;
  height: 124px;
  border-radius: 20%;
  object-fit: cover;
  background-color: var(--color-white);
}

.buttonContainer {
  align-self: flex-end;
  text-align: center;
}

.alignWidth {
  width: calc(60%);
}
