.editProfilPage {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.editProfilWrapper {
  width: calc(60%);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.profilEditCard {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.editAvatar {
  display: flex;
  gap: 24px;
  align-items: center;
}

.profilEditButtonsSmall {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.hidden-file-input {
  display: none;
}

.profilEditButtonsLarge {
  width: calc(60%);
}

.profilEditButtonsLarge > button {
  width: 100%;
}

.editSpacer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputBoxWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputFrame {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 24px;
  border-radius: 40px;
  border: 1px solid black;
}

.website {
  width: 93%;
}

/**/
/* .formContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 70%;
}

.headlineCreateProject {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-extraBold);
  margin-bottom: 30px;
  color: var(--color-black);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/* .input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-sizing: border-box;
  font-size: var(--font-size-medium);
  margin: 5px;
  color: rgb(56, 55, 55);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-thin);
  font-family: "Unbounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
} */

/* .textarea {
  min-height: 100px;
  min-width: 500px;
  resize: vertical;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: var(--font-size-small);
  margin: 5px;
}

.submitButton {
  width: fit-content;
}  */
