.PollDetails {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.projectBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.projectHeaderBox {
  display: flex;
  gap: 32px;
  /* box-sizing: border-box; */
}

.rectangle {
  width: 8px;
  background-color: var(--highlight-color);
  border-radius: 10px;
}

.projectHeadline {
  display: flex;
  flex-direction: column;
  gap: 7px;
  /* box-sizing: border-box; */
}

.projectHeader {
  font-size: 56px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  height: auto;
}

.projectDescription {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  margin: 0;
  padding: 0;
  height: auto;
}

.detailPageButtons {
  display: flex;
  gap: 12px;
}

.detailPageButtons > button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.voteDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.voteInfoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.voteInfo {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-extraBold);
  margin: 0;
}

.timeWrapper {
  display: flex;
  align-items: center;

  gap: 4px;
}

.spanTime {
  color: var(--overlay-background-color);
  text-transform: uppercase;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semiBold);
  margin: 0;
}

.countdown {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semiBold);
  /* width: 110px; */
}

.optionImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  margin: 0;
}
