/* SignUpForm.css */

.signup-form-container {
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box; /* Include padding and border in the total width and height */
}

.signup-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 10px;
}

.signup-form h3 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 24px;
  text-align: center;
}

.signup-form .input-group {
  display: flex;
  flex-direction: column;
}

.signup-form .input-group label {
  color: #666;
  margin-bottom: 8px;
  font-weight: 600;
}

.signup-form .input-group input,
.signup-form .input-group select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box; /* Include padding and border in the input's total width */
}

.signup-form .role-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.signup-form .role-options label {
  margin-left: 8px;
  font-weight: normal;
}

.signup-form .error-message {
  color: red;
  margin-top: 16px;
}

.signup-form .switch-link {
  color: #007bff;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 16px;
  text-align: center;
}

.category-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.category-container.open {
  max-height: 200px;
}

.category-container .input-group {
  margin-bottom: 0;
}

input[type="radio"] {
  margin-right: 5px;
}
