@import "font.css";

:root {
  --highlight-color: #b8e6d6;
  --box-color: #edf1f5;
  --overlay-background-color: #525c66;
  --color-black: #000;
  --color-white: #fff;
  --color-attention: #cc0044;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
  --font-weight-extraBold: 700;
  --font-weight-black: 900;

  --font-size-xsmall: 10px;
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-ml: 20px;
  --font-size-large: 24px;
  --font-size-xlarge: 40px;
  --font-size-xxlarge: 56px;

  --font-family-unbounded: "Unbounded", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-family-montserrat: "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

html {
  width: 100vw;
}

body {
  box-sizing: border-box;
  width: 73vw;
  height: 100%;
  font-family: var(--font-family-montserrat);
  padding: 48px 0;
  margin: 0 auto;
  line-height: 1.5em;
}

#root {
  height: 100%;
}

::placeholder {
  color: var(--overlay-background-color);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-thin);
  font-family: var(--font-family-montserrat);
}

.upperCase {
  text-transform: uppercase;
}

.primaryColor {
  color: var(--color-black);
}

.secondaryColor {
  color: var(--overlay-background-color);
}

.noUnderline {
  text-decoration: none;
}

.pageTitle {
  font-family: var(--font-family-unbounded);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-extraBold);
  margin: 0;
  line-height: 1.5em;
}

.sectionTitle {
  font-family: var(--font-family-unbounded);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semiBold);
  margin: 0;
}

.headline {
  font-family: var(--font-family-unbounded);
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-light);
  margin: 0;
  line-height: 1.5em;
}

.title {
  font-family: var(--font-family-unbounded);
  font-size: var(--font-size-ml);
  font-weight: var(--font-weight-normal);
  margin: 0;
}

.bodyLarge {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-ml);
  font-weight: var(--font-weight-medium);
  margin: 0;
}

.body {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  margin: 0;
}

.bodyLink,
.bodyLink > a {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  margin: 0;
  color: var(--overlay-background-color);
  text-decoration: none;
}

.label {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semiBold);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.buttonFont {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.error-message {
  color: var(--color-attention);
}

.buttonFontReverse {
  color: var(--color-white);
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 50px;
  font-family: inherit;
}

.buttonPrimaryLarge {
  padding: 12px 24px;
  background-color: var(--color-black);
  border: 2px solid black;
}

.buttonPrimarySmall {
  padding: 4px 16px;
  background-color: var(--color-black);
  border: 2px solid black;
}

.buttonSecondaryLarge {
  padding: 12px 24px;
  background-color: var(--color-white);
  border: 2px solid black;
}

.buttonSecondarySmall {
  padding: 4px 16px;
  background-color: var(--color-white);
  border: 2px solid black;
}

.buttonClosedSmall {
  padding: 4px 16px;
  background-color: var(--overlay-background-color);
  border: 2px solid black;
  cursor: no-drop;
}

.buttenNoDrop {
  cursor: no-drop;
}

.cursorPointer {
  cursor: pointer;
}

.submitButton {
  background-color: var(--highlight-color);
}

.awareButtonSmall {
  background-color: var(--color-attention);
  border: 2px solid #cc0044;
  padding: 4px 16px;
}

.footer {
  margin-top: auto;
  text-align: center;
}

.containerCreatePage {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.numberInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.numberInputWrapper input {
  flex-grow: 1;
  padding-right: 40px;
}

.selectIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.optionInputBoxWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.optionBoxWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.optionBox {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #edf1f5;
  border-radius: 20px;
}

.optionInputBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.optionInput {
  background-color: #edf1f5;
}

.optionImageBox {
  display: flex;
  gap: 8px;
}

.contentAligner {
  align-self: flex-end;
}

.optionImageContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionInput {
  background-color: #edf1f5;
}

.optionImageBox {
  display: flex;
  gap: 8px;
}

.contentAligner {
  align-self: flex-end;
}

.optionImageContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionImageCard {
  width: 124px;
  height: 124px;
  border-radius: 20%;
  object-fit: cover;
  background-color: var(--color-white);
}

.buttonContainer {
  align-self: flex-end;
  text-align: center;
}
